<div class="p-d-flex p-jc-center" >
  <div >
    <div class=" p-d-flex p-jc-center">
      <h3 >ИАС «Грузоперевозки»</h3>
    </div>
    <div class="p-d-flex p-jc-center">
      <p>Обращаю Ваше внимание, что файл должен быть...</p>
    </div>
    <div class="p-d-flex p-jc-center" *ngIf="progress > 0">
      <p>Ожидайте окончания Загрузки. Прогресс: {{progress}}%</p>
    </div>
    <div class="p-d-flex p-jc-center">
      <input  type="file"  (change)="onFileSelected($event)" class="choose" [disabled]="progress > 0">
    </div>
      <div *ngIf="progress > 0" class="p-jc-center" style="margin-top: 5px; margin-bottom: 5px">
        <p-progressBar  [value]="progress"  [showValue]="false"></p-progressBar>
      </div>
    <button pButton pRipple type="button" label="Загрузить" [disabled]="progress > 0 || selectedFile === null" style="width: 100%; margin-bottom: 18px" class="p-button-success" (click)="onUpload()"></button>
    <div>
  </div>
  </div>
</div>
