<div class="p-d-flex p-jc-center" >
  <div style="padding-right: 200px">

    <form [formGroup]="uploadFiles" (ngSubmit)="onUpload()">
      <div class=" p-d-flex p-jc-center">
        <h3 >ИАС «Грузопотоки»</h3>
      </div>
      <div class="p-d-flex p-jc-center">
        <p>Внимание!!! Файл должен соответствовать  выбранной Вами размерности.</p>
      </div>
      <div class="p-d-flex p-jc-center" *ngIf="progress > 0">
        <p>Ожидайте окончания Загрузки. Прогресс: {{progress}}%</p>
      </div>
      <span class="p-float-label" style="margin-top: 10px">
        <input id="float-input" type="text" formControlName="nameFile" class="p-inputtext-sm"  pInputText />
      <label for="float-input">Введите имя</label>
        <small id="float-input-help" class="p-invalid"*ngIf="uploadFiles.controls['nameFile'].invalid && uploadFiles.controls['nameFile'].touched">Укажите наименование файла</small>
    </span>
      <div class="p-d-flex p-jc-center">
        <input  type="file" (change)="onFileSelected($event)" class="choose" [disabled]="progress > 0" #fileUploader>
      </div>
      <ng-container *ngIf="this.initialDateType === 'cargoUpload'">
        <div class="p-fluid p-grid">
          <div class=" p-col-12">
            <p-dropdown formControlName="cargoType" optionLabel="name" [options]="cargoTypes" placeholder="Выберете один из вариантов:"></p-dropdown>
          </div>
        </div>
      </ng-container>
      <div class="p-fluid p-grid">
        <div class="p-col-12">
          <p-dropdown optionLabel="label" formControlName="dimension"  [options]="dimensionItems" placeholder="Укажите размерность:"></p-dropdown>
        </div>
      </div>
      <div *ngIf="progress > 0" class="p-jc-center" style="margin-top: 5px; margin-bottom: 5px">
        <p-progressBar  [value]="progress"  [showValue]="false"></p-progressBar>
      </div>
      <button pButton pRipple type="submit" label="Загрузить" [disabled]="disInvalidBut()" style="width: 100%; margin-bottom: 18px" class="p-button-success"></button>
    </form>
  </div>
</div>

<p-dialog header="Успех!" [(visible)]="displayModal" [style]="{width: '30vw'}" [baseZIndex]="10000">
  <p>Файл успешно загружен на сервер!<p>
</p-dialog>
