<div class="card">
  <p-dialog header="Загруженные данные "
            [(visible)]="dialogVisible"
            [style]="{width: '70vw'}"
            [baseZIndex]="1"
            [maximizable]="true"
            [modal]="false"
            [resizable]="true"
            [contentStyle]="{height: '50vh'}"
            [closeOnEscape]="false"
            [closable]="false">
    <p-table
      #dt
      *ngIf="mathematicalForecastContent"
      [value]="mathematicalForecastContent"
      [(first)]="first"
      [lazy]="true"
      [columns]="cols"
      (onLazyLoad)="loadCustomers($event)"
      [paginator]="true"
      [rows]="50"
      [rowsPerPageOptions]="[50,100,150]"
      [totalRecords]="totalRecords"
      [loading]="loadingTable"
      [scrollable]="true"
      scrollHeight="70vh"
      [style]="{width:'auto'}"
      dataKey="id"
      [resizableColumns]="true"
      [autoLayout]="true"
      editMode="row"
      columnResizeMode="expand"
      styleClass="p-datatable-customers p-datatable-gridlines"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Отображено с {first} по {last} запись. Всего: {totalRecords}"
    >
      <ng-template pTemplate="caption">
        <p-button icon="pi pi-refresh" (onClick)="clearfilter()" label="Очистить фильтры" class="p-mr-2"></p-button>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:80px">
          <col *ngFor="let col of columns" [style.width]="col.width">
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <col style="width:80px">
          </ng-container>
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn>№</th>
          <ng-container *ngFor="let col of columns;let idx = index;">
            <ng-container *ngIf="idx< 14; else NotSort">
              <th pResizableColumn [pSortableColumn]="col.field">
                <p-sortIcon [field]="col.field"></p-sortIcon>
                {{col.header}}
              </th>
            </ng-container>
            <ng-template #NotSort>
              <th pResizableColumn>
                {{col.header}}
              </th>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <th pResizableColumn>Действия</th>
          </ng-container>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns;let idx = index;">
            <ng-container *ngIf="col['field'] === 'primary' else primeCol">
              <p-dropdown appendTo="body"
                          [options]="primeryBol"
                          [ngModel]="dt.filters[col.field]? dt.filters[col.field].value: []"
                          (onChange)="dt.filter($event.value, col.field, 'equals')"
                          [ngModelOptions]="{standalone: true}"
              ></p-dropdown>
            </ng-container>
            <ng-template #primeCol>
              <ng-container *ngIf=" idx < 14; else yearsCol">
                <div class="p-inputgroup">
                  <span class="p-inputgroup-addon">
                      <i class="pi pi-user"></i>
                  </span>
                  <input pInputText type="text" (click)="$event.stopPropagation()"
                         (keyup.enter)="dt.filter($event.target.value, col.field, 'contains')"
                         [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''"
                         class="p-column-filter"
                         style="width: 100%"
                  >
                </div>
                <!--                <input pInputText type="text" (click)="$event.stopPropagation()"-->
                <!--                       (keyup.enter)="dt.filter($event.target.value, col.field, 'contains')"-->
                <!--                       [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''"-->
                <!--                       class="p-column-filter"-->
                <!--                       style="width: 100%"-->
                <!--                >-->
              </ng-container>
              <ng-template #yearsCol>
                <input pInputText type="text" (click)="$event.stopPropagation()"
                       (keyup.enter)="dt.filter($event.target.value, col.header, 'contains')"
                       [value]="dt.filters[col.header] ? dt.filters[col.header].value : ''"
                       class="p-column-filter"
                       style="width: 100%"
                >
              </ng-template>
            </ng-template>
          </th>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <th></th>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
        <tr [pEditableRow]="rowData">
          <td>{{ri + 1}}</td>
          <td *ngFor="let col of this.cols; let idx = index">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <ng-container *ngIf="col['field'] !== 'primary'; else primaryEdit">
                  <ng-container *ngIf=" idx < 14">
                    <input pInputText type="text" [ngModel]="rowData | field:col"
                           (ngModelChange)="editColumn(rowData, col, $event)" [ngModelOptions]="{standalone: true}">

                  </ng-container>
                  <ng-container *ngIf=" idx > 13">
                    <input pInputText type="number" [ngModel]="rowData | field:col"
                           (ngModelChange)="editColumn(rowData, col, $event)" [ngModelOptions]="{standalone: true}">

                  </ng-container>
                </ng-container>
                <ng-template #primaryEdit>
                  <p-dropdown appendTo="body" [options]="primary2" [(ngModel)]="rowData[col.field]"></p-dropdown>
                </ng-template>
              </ng-template>
              <ng-template pTemplate="output">
                <div *ngIf="col['field'] !== 'primary' && idx < 14">
                  <span style='white-space: pre'> {{rowData[col.field]}} </span>

                </div>
                <div *ngIf="col['field'] === 'primary'">
                  <ng-container *ngIf="rowData[col.field] === true; else primaryFalse">
                    да
                  </ng-container>
                  <ng-template #primaryFalse>
                    нет
                  </ng-template>
                </div>
                <div *ngIf="idx > 13" [ngStyle]="{'color': colorYears(rowData, col) == true ? '#c54747' : '#4d7d4d' }">
                  {{rowData | field:col}}
                </div>
              </ng-template>
            </p-cellEditor>
          </td>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                      (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                      (click)="onRowEditSave(rowData)"
                      class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                      (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
              <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Удалить"
                      (click)="deleteShipments(rowData.id)"
                      class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="15" class="p-text-right">Итого:</td>
          <td *ngFor="let item of this.massSummYear | keyvalue">{{item.value | number}}</td>
        </tr>
      </ng-template>
    </p-table>

    <ng-template pTemplate="footer">
      <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
        <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Добавить строку"></p-button>
      </ng-container>
      <button type="button" pButton pRipple icon="pi pi-times" (click)="closeModalTable()" label="Закрыть"
              class="p-button-text"></button>
    </ng-template>
  </p-dialog>
</div>
<ng-container *ngIf="displayModal">
  <app-create-row-shipment
    [mathematicalForecastContent]="this.mathematicalForecastContent"
    [displayModal]="this.displayModal"
    [sessionId]="this.sessionId"
    (displayModalRowClose)="displayModalRowClose($event)"
    (updateListShipmentTable)="updateListShipmentTable($event)"
  >
  </app-create-row-shipment>
</ng-container>
