<p-toast></p-toast>
<ng-container *ngIf="this.user.authorities.includes('P_P_p7') === true">
  <div class="p-grid p-jc-end" style="padding: 15px">
      <span class="p-float-label" style="padding-right: 10px;">
        <input id="createCargoNci" type="text" pInputText [(ngModel)]="nameNewCargoNci">
        <label for="createCargoNci">Грузовладелец</label>
      </span>
    <button pButton pRipple type="button" label="Сохранить" class="p-button-raised p-button-secondary "
            (click)="createCargoNci()" [disabled]="this.nameNewCargoNci === ''"></button>
  </div>
</ng-container>
<div class="card" *ngIf="cargoNci; else Loader">
  <p-table #dt
           [style]="{width:'auto'}"
           [columns]="cols"
           [value]="cargoNci"
           [scrollable]="true" scrollHeight="25vh"
           styleClass="p-datatable-sm p-datatable-gridlines" dataKey="id"
           [resizableColumns]="true" editMode="row" columnResizeMode="expand"
           [paginator]="true"
           [rows]="500"
           [totalRecords]="totalRecords"
           [filterDelay]="0"
           [(selection)]="selectedCargoNci"
           [rowHover]="true"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width:120px">
        <col *ngFor="let col of columns" [style.width]="col.width">
        <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
          <col style="width:120px">
          <col style="width:60px">
          <col style="width:60px">
        </ng-container>
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th></th>
        <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field">
          <p-sortIcon [field]="col.field"></p-sortIcon>
          {{col.header}}
        </th>
        <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
          <th pResizableColumn>Действия</th>
        </ng-container>
        <th pResizableColumn>Синонимы</th>
        <th pResizableColumn>Фактор влияния</th>
      </tr>
      <tr>
        <th style="text-align: center">
          <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
            <button pButton pRipple [label]="" icon="pi pi-refresh" class="p-button-secondary p-mr-2"
                    (click)="clearSelectedCargoNci()"
                    [disabled]="!selectedCargoNci || !selectedCargoNci.length"></button>
            <button pButton pRipple [label]="" icon="pi pi-trash" class="p-button-danger" (click)="deleteCargoNciList()"
                    [disabled]="!selectedCargoNci || !selectedCargoNci.length"></button>
          </ng-container>
        </th>
        <th *ngFor="let col of columns;">
          <input pInputText type="text" (input)="dt.filter($event.target.value, col['field'], 'contains')"
                 class="p-column-filter">
        </th>
        <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
          <th>
          </th>
          <th style="text-align: center">
            <p-button (click)="showPositionDialog('top-left')" icon="pi pi-upload"
                      pTooltip="Загрузить синонимы из файла" styleClass="p-button-warning"></p-button>
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
      <tr [pEditableRow]="rowData">
        <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
          <td style="text-align: center">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
        </ng-container>
        <td *ngFor="let col of this.cols;">
          <p-cellEditor *ngIf="!col.isStatic;else staticTemplate">
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[col.field]">
            </ng-template>
            <ng-template pTemplate="output">
              {{rowData[col.field]}}
            </ng-template>
          </p-cellEditor>
          <ng-template #staticTemplate>
            {{ rowData[col.field] }}
          </ng-template>
        </td>
        <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                    (click)="onRowEditInit()" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                    (click)="onRowEditSave(rowData)"
                    class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                    (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
            <button pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash"
                    (click)="deleteItemCargoNci(rowData.id, rowData.name)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </ng-container>
        <td style="text-align: center">
          <button pButton pRipple type="button" (click)="showMaximizableDialog(rowData.id, rowData.name)"
                  pTooltip="Просмотреть все синонимы" icon="pi pi-user-edit"
                  class="p-button-rounded p-button-success p-button-text"></button>
        </td>
        <td style="text-align: center">
          <button pButton pRipple type="button" (click)="factor(rowData.id)" pTooltip="Фактор влияния"
                  icon="pi pi-search" class="p-button-rounded p-button-info p-button-text"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<ng-template #Loader>
  <div class="p-d-flex p-jc-center" style="height: 30vh">
    <div class="p-grid p-ai-center vertical-container ">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
                         fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="cargoOwnerId">
  <p-dialog header="{{this.cargoOwnerName}}"
            [(visible)]="displayMaximizable"
            [modal]="true"
            [style]="{width: '30vw'}"
            [maximizable]="true"
            [baseZIndex]="10000"
            [draggable]="false"
            [resizable]="false"
            [closeOnEscape]="false"
            [closable]="false"
  >
    <app-synonym
      [cargoOwnerId]="this.cargoOwnerId"
    >
    </app-synonym>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeModal()" label="Закрыть" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</ng-container>
<ng-container *ngIf="this.uploadFileNsi">
  <p-dialog header="Загрузка синонимов из файла" [(visible)]="displayPosition" [position]="position" [modal]="true"
            [style]="{width: '50vw'}" [baseZIndex]="10000"
            [draggable]="false" [resizable]="false">
    <app-upload-file
      [nsi]="this.uploadFileNsi"
      (updateSynonym)="updateCargoNci($event)"
    >
    </app-upload-file>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeModalUpload()" label="Закрыть" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</ng-container>

