<div class="stepsdemo-content">
  <ng-template #load>
    <div class="p-d-flex p-jc-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-template>
  <p-card *ngIf="mathematicalForecastTable; else load">
    <p-table #dt
             [columns]="cols"
             [value]="mathematicalForecastTable"
             [scrollable]="true" scrollHeight="flex" scrollHeight="45vh"
             styleClass="p-datatable-sm p-datatable-gridlines"  dataKey="id" [style]="{width:'95vw'}"
             [resizableColumns]="true" columnResizeMode="expand" editMode="row"
             [paginator]="true"
             [rows]="1500"
             [totalRecords]="totalRecords"
             [loading]="loading"
             [filterDelay]="0"
             (onFilter)="massSummYears($event)"
    >
      <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:80px" >
            <col *ngFor="let col of columns" [style.width]="col.width" >
            <col style="width:80px" >
          </colgroup>
      </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>№</th>
            <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field"><p-sortIcon [field]="col.field"></p-sortIcon>
              {{col.header}}
            </th>
            <th>Действия</th>
          </tr>
          <tr>
            <th></th>
            <th *ngFor="let col of columns; let idx = index" [pSortableColumn]="col.field">
                <input pInputText type="text" (click)="$event.stopPropagation()"  (input)="columnFilter($event, col.field)" class="p-column-filter">
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
          <tr [pEditableRow]="rowData">
            <td>{{ri}}</td>
            <td pEditableColumn *ngFor="let col of columns">
              <p-cellEditor>
                <ng-template pTemplate="input">
                <input pInputText type="text" [ngModel]="rowData | field:col" (ngModelChange)="magic(rowData, col, $event)">
                </ng-template>
                <ng-template pTemplate="output">
                    {{rowData | field:col}}
                </ng-template>
              </p-cellEditor>
            </td>

            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(rowData, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </tr>
        </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="13" class="p-text-right">Итого: </td>
          <td *ngFor="let items of this.massSummYear">{{items | number}}</td>
        </tr>
        <tr>
          <td colspan="13" class="p-text-right">Сумма: </td>
          <td *ngFor="let item of this.massSummYear; let idx = index">
            <input pInputText type="text"  (change)="test(idx, $event.target.value)">
          </td>
        </tr>
      </ng-template>
      </p-table>
  </p-card>
</div>
