<div class="stepsdemo-content">
  <ng-template #Loader>
    <div class="p-d-flex p-jc-center" style="height: 40vh">
      <div class="p-grid p-ai-center vertical-container ">
        <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner"
                           strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
      </div>
    </div>
  </ng-template>
  <ng-container>
    <p-card *ngIf="loadingMathematicalForecastTable === true; else Loader">
      <form [formGroup]="dynamicForm">
        <p-table #dt
                 [style]="{width:'94.7vw'}"
                 [columns]="cols"
                 [value]="mathematicalForecastTable"
                 [scrollable]="true" scrollHeight="28vh"
                 [(first)]="first"
                 [lazy]="true"
                 (onLazyLoad)="loadCustomers($event)"
                 [paginator]="true"
                 [rows]="50"
                 [rowsPerPageOptions]="[50,100,150]"
                 [totalRecords]="totalRecords"
                 [loading]="loadingTable"
                 dataKey="id"
                 [resizableColumns]="true"
                 editMode="row"
                 columnResizeMode="expand"
                 styleClass="p-datatable-customers p-datatable-gridlines"
                 [showCurrentPageReport]="true"
                 [autoLayout]="true"
                 currentPageReportTemplate="Отображено с {first} по {last} запись. Всего: {totalRecords}"
        >
          <ng-template pTemplate="caption">


            <div class="p-d-flex p-jc-between">
              <div>
                <p-button icon="pi pi-refresh" (onClick)="clearfilter()" class="p-mr-2"></p-button>
                <p-dropdown [options]="methodUsers" optionLabel="name" [(ngModel)]="forecastingStrategyFilter"
                            placeholder="Укажите стратегию:" [ngStyle]="{'padding-right':'10px'}"
                            [ngModelOptions]="{standalone: true}"></p-dropdown>
                <ng-container *ngIf="this.forecastingStrategyFilter">
                  <ng-container *ngIf="this.forecastingStrategyFilter.type === 'FISCAL_YEAR'">
                    <p-dropdown [options]="this.reportingYears" optionLabel="name" [(ngModel)]="forecastFiscalYear"
                                placeholder="Укажите год:" [ngModelOptions]="{standalone: true}"></p-dropdown>
                  </ng-container>
                </ng-container>
                <button type="button" pButton pRipple label="Применить"
                        class="p-button-success p-mr-2 p-button p-component" (click)="particalListFilter()"
                        style="margin-right: 0.5em;" [disabled]="!forecastingStrategyFilter"></button>
              </div>
              <div>

                <ng-container *ngIf="this.user.authorities.includes('P_P_p8') === true">

<!--                  <button pButton pRipple type="button" label="Иерархический прогноз"-->
<!--                          class="p-button-success p-mr-2 p-button p-component"-->
<!--                          (click)="hierarchicalShipment()"></button>-->

                  <ng-container *ngIf="this.user.authorities.includes('P_P_p8') === true">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" iconPos="left" label="Порт"
                            class="p-button-success p-mr-2 p-button p-component" (click)="downloadPort()"
                            style="margin-right: 0.5em;"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" iconPos="left" label="Погран"
                            class="p-button-success p-mr-2 p-button p-component" (click)="downloadBorder()"
                            style="margin-right: 0.5em;"></button>
                  </ng-container>
                  <ng-container *ngIf="this.downloadShipLoading === false; else DownloadShipLoading">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" iconPos="left" label="Скачать"
                            class="p-button-success p-mr-2 p-button p-component" (click)="downloadShip()"
                            style="margin-right: 0.5em;"></button>
                  </ng-container>
                  <ng-template #DownloadShipLoading>
                    <p-progressSpinner [style]="{width: '30px', height: '30px', margin: '0 100px 0 100px'}"
                                       styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                       animationDuration="1s"></p-progressSpinner>
                  </ng-template>
                  <ng-container *ngIf="this.downloadRoadLoading === false; else DownloadRoadLoading">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" iconPos="left" label="Дорога-дорога"
                            class="p-button-success p-mr-2 p-button p-component" (click)="downloadRoad()"
                            style="margin-right: 0.5em;"></button>
                  </ng-container>
                  <ng-template #DownloadRoadLoading>
                    <p-progressSpinner [style]="{width: '30px', height: '30px', margin: '0 100px 0 100px'}"
                                       styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE"
                                       animationDuration="1s"></p-progressSpinner>
                  </ng-template>
                </ng-container>


              </div>
            </div>


          </ng-template>

          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
              <col style="width:80px">
              <col *ngFor="let col of columns" [style.width]="col.width">
              <col style="width:80px">
            </colgroup>
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pResizableColumn>№</th>
              <ng-container *ngFor="let col of columns;let idx = index;">

                <ng-container *ngIf="idx< 16; else NotSort">

                  <th pResizableColumn [pSortableColumn]="col.field">
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                    {{col.header}}
                  </th>
                </ng-container>
                <ng-template #NotSort>
                  <th pResizableColumn>
                    {{col.header}}
                  </th>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
                <th>Действия</th>
              </ng-container>
            </tr>
            <tr>
              <th></th>
              <th *ngFor="let col of columns;let idx = index;">

                <ng-container *ngIf="col['field'] === 'primary' || col['field'] === 'forecastType' || col['field'] === 'updatedByClaim'; else primeCol">

                  <ng-container *ngIf="col['field'] === 'primary'">
                    <p-dropdown appendTo="body" #dropdownPrimary [options]="primeryBol" [(ngModel)]="selectedPrimery"
                                (onChange)="dt.filter($event.value, col.field, 'equals')"
                                [ngModelOptions]="{standalone: true}"></p-dropdown>
                  </ng-container>
                  <ng-container *ngIf="col['field'] === 'forecastType'">
                    <p-dropdown appendTo="body" #dropdownForecastType [options]="typeCalculation"
                                [(ngModel)]="selectedForecastType"
                                (onChange)="dt.filter($event.value, col.field, 'equals')"
                                [ngModelOptions]="{standalone: true}"
                    ></p-dropdown>
                  </ng-container>

                  <ng-container *ngIf="col['field'] === 'updatedByClaim'">
                    <p-dropdown appendTo="body" #dropdownIsUpdatedByClaim [options]="primeryBol" [(ngModel)]="selectedIsUpdatedByClaim"
                                (onChange)="dt.filter($event.value, col.field, 'equals')"
                                [ngModelOptions]="{standalone: true}"></p-dropdown>
                  </ng-container>
                </ng-container>

                <ng-template #primeCol>
                  <ng-container *ngIf=" idx < 16; else yearsCol">

                    <input pInputText type="text" (click)="$event.stopPropagation()"
                           (keyup.enter)="dt.filter($event.target.value, col.field, 'contains')"
                           [value]="dt.filters[col.field] ? dt.filters[col.field].value : ''"
                           class="p-column-filter">
                  </ng-container>
                  <ng-template #yearsCol>
                    <input pInputText type="text" (click)="$event.stopPropagation()"
                           (keyup.enter)="dt.filter($event.target.value, col.header, 'contains')"
                           [value]="dt.filters[col.header] ? dt.filters[col.header].value : ''"
                           class="p-column-filter">
                  </ng-template>
                </ng-template>
              </th>
              <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
                <th></th>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
            <tr [pEditableRow]="rowData">
              <td>{{ri + 1}}</td>
              <td *ngFor="let col of this.cols; let idx = index">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <ng-container

                      *ngIf="col['field'] !== 'primary' && col['field'] !== 'forecastType' && col['field'] !== 'updatedByClaim'; else primaryEdit">

                      <ng-container *ngIf=" idx < 16">

                        <input pInputText type="text" [ngModel]="rowData | field:col"
                               (ngModelChange)="editColumn(rowData, col, $event)" [ngModelOptions]="{standalone: true}">

                      </ng-container>

                      <ng-container *ngIf=" idx > 15 && colorYears(rowData, col) == true; else NotCalculated">

                        <input pInputText type="number" [ngModel]="rowData | field:col"
                               (ngModelChange)="editColumn(rowData, col, $event)" [ngModelOptions]="{standalone: true}">

                      </ng-container>
                      <ng-template #NotCalculated>
                        {{rowData | field:col}}
                      </ng-template>

                    </ng-container>
                    <ng-template #primaryEdit>
                      <ng-container *ngIf="col['field'] === 'primary'">
                        <p-dropdown appendTo="body" [options]="primary2" [(ngModel)]="rowData[col.field]"
                                    [ngModelOptions]="{standalone: true}"></p-dropdown>
                      </ng-container>

                      <ng-container *ngIf="col['field'] === 'forecastType'">
                        {{this.sdsd(rowData[col.field])}}
                      </ng-container>

                      <ng-container *ngIf="col['field'] === 'updatedByClaim'">
                        <p-dropdown appendTo="body" [options]="primary2" [(ngModel)]="rowData[col.field]"
                                    [ngModelOptions]="{standalone: true}"></p-dropdown>
                      </ng-container>

                    </ng-template>
                  </ng-template>


                  <ng-template pTemplate="output">

                    <div *ngIf="col['field'] !== 'primary' && idx < 16 && col['field'] !== 'forecastType' && col['field'] !== 'updatedByClaim'">
                      <span style = 'white-space: pre'> {{rowData[col.field]}} </span>

                    </div>
                    <div *ngIf="col['field'] === 'forecastType'">
                      {{this.sdsd(rowData[col.field])}}
                    </div>
                    <div *ngIf="col['field'] === 'primary'">
                      <ng-container *ngIf="rowData[col.field] === true; else primaryFalse">
                        да
                      </ng-container>
                      <ng-template #primaryFalse>
                        нет
                      </ng-template>
                    </div>
                    <div *ngIf="col['field'] === 'updatedByClaim'">
                      <ng-container *ngIf="rowData[col.field] === true; else isUpdatedByClaimFalse">
                        да
                      </ng-container>
                      <ng-template #isUpdatedByClaimFalse>
                        нет
                      </ng-template>
                    </div>
                    <div *ngIf="idx > 15"

                         [ngStyle]="{'color': colorYears(rowData, col) == true ? '#c54747' : '#4d7d4d' }">
                      {{rowData | field:col}}
                    </div>
                  </ng-template>
                </p-cellEditor>
              </td>
              <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
                <td style="text-align:center">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                          (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                          (click)="onRowEditSave(rowData)"
                          class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                          (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
                  <button pButton pRipple type="button" icon="pi pi-trash" pTooltip="Удалить"
                          (click)="deleteShipments(rowData.id)"
                          class="p-button-rounded p-button-text p-button-danger"></button>
                </td>
              </ng-container>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer" let-columns>
            <tr>

              <td colspan="17" class="p-text-right">Итого:</td>
              <td *ngFor="let item of this.massSummYear | keyvalue">{{item.value | number}}</td>
            </tr>
            <tr>
              <td [attr.colspan]="17" class="p-text-right">Сумма:</td>
              <td *ngFor="let years of arrayHstoriYears(this.numberHistroricalYears);"
                  class="list-group list-group-flush">
                {{years}}
              </td>
              <td *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
                <ng-container [formGroup]="ticket">
                  <input pInputText type="number" formControlName="name"
                         (keyup.enter)="divideSum(i, $event.target.value)">
                </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </form>
    </p-card>
  </ng-container>
</div>
