.logo-nav {
  background-color: #fff;
  h4{
    margin: 0;
  }
  .logo{
    padding-left: 5px;
  }
  .name-platform{
    margin-left: 10px;
  }
}


//footer{
//  background-color: #333;
//  color: white;
//  position: fixed;
//}
