<div class="p-d-flex p-jc-lg-center">
  <div class="logo-nav p-d-flex p-jc-between  body-content">
    <div class="p-d-flex p-ai-center ">
      <div class="logo">
        <h4 class="p-text-normal">ИЭРТ</h4>
      </div>
      <div class="name-platform">
        <h3>ИАС «Грузоперевозки»</h3>
      </div>
    </div>
    <div class="p-d-flex p-ai-center">
      <h3>{{name}}</h3>
      <p-button  pRipple type="button" label="Выход" class="p-col"></p-button>
    </div>
  </div>

</div>
<div class="p-d-flex p-jc-center" style="height: 100%">
  <div class="body-content" style="background-color: #e9eaed">
    <app-upload-file></app-upload-file>
  </div>
</div>

<!--<footer class="footer">-->
<!--  <div class="p-d-flex p-jc-between">-->
<!--    <div>©ИЭРТ, 2020</div>-->
<!--    <div>-->
<!--      <p class="footer_important text-plus">XX-XX-XX</p>-->
<!--      <p class="text-small">Служба поддержки пользователей</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
