<app-modal></app-modal>
<div class="logo-nav">
  <div class="p-d-flex p-jc-between">
    <div class="p-d-flex p-ai-center">
      <div class="logo">
<!--        <h4 class="p-text-normal">ИЭРТ</h4>-->
        <img height="55" class="p-mr-2" src="assets/logo1.jpg">
      </div>
      <div class="name-platform">
        <h3>ИАС «Грузоперевозки»</h3>
      </div>
    </div>
    <div class="p-d-flex p-ai-center">
      <h3>{{name}}</h3>
      <p-button  pRipple type="button" label="Выход"></p-button>
    </div>
  </div>
</div>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000" class="p0" >
  <p-panelMenu [model]="sidebar"></p-panelMenu>
</p-sidebar>

<div class="p-grid" style="; margin: 0;">
  <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars"></p-button>
  <div class="p-col" style="padding: 0">
    <router-outlet>
    </router-outlet>
  </div>
</div>
<footer>

</footer>

