<div class="card" *ngIf="mathematicalForecastTable;">
  <ng-container *ngIf="iCargoNci;">
  <p-dialog header="Загруженные данные"
            [(visible)]="dialogVisible"
            [style]="{width: '50vw'}"
            [baseZIndex]="1"
            [maximizable]="true"
            [modal]="false"
            [resizable]="true"
            [contentStyle]="{height: '50vh'}"
            [closeOnEscape]="false"
            [closable]="false" >
    <p-table #dt
             [style]="{width:'94.7vw'}"
             [columns]="cols"
             [value]="mathematicalForecastTable"
             [scrollable]="true" scrollHeight="70vh"
             styleClass="p-datatable-sm p-datatable-gridlines"  dataKey="id"
             [resizableColumns]="true"  editMode="row" columnResizeMode="expand"
             [paginator]="true"
             [rows]="500"
             [totalRecords]="totalRecords"
             [filterDelay]="0"
             (onFilter)="massSummYears($event)"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:80px" >
          <col *ngFor="let col of columns" [style.width]="col.width" >
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <col style="width:80px" >
          </ng-container>
        </colgroup>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn >№</th>
          <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field"> <p-sortIcon [field]="col.field"></p-sortIcon>
            {{col.header}}
          </th>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <th pResizableColumn>Действия</th>
          </ng-container>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns;" >
            <ng-container *ngIf="col['field'] !== 'primary'; else prime">
              <input pInputText type="text" (click)="$event.stopPropagation()"  (input)="columnFilter($event, col.field)" class="p-column-filter">
            </ng-container>
            <ng-template #prime>
              <p-dropdown appendTo="body" [options]="primeryBol" [(ngModel)]="selectedPrimery" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            </ng-template>
          </th>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <th></th>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
        <tr [pEditableRow]="rowData">
          <td>{{ri}}</td>
          <td  *ngFor="let col of this.cols; let idx = index">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [ngModel]="rowData | field:col" (ngModelChange)="editColumn(rowData, col, $event)">
              </ng-template>
              <ng-template pTemplate="output" >

                <div *ngIf="col['field'] === 'cargoGroup'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'shipmentType'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'primary'">
                  <ng-container *ngIf="rowData[col.field] === true; else primaryFalse">
                    да
                  </ng-container>
                  <ng-template #primaryFalse>
                    нет
                  </ng-template>
                </div>
                <div *ngIf="col['field'] === 'fromRoad'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromStation'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromStationCode'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromSubject'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'senderName' && carrgoTypes !== 'sender'">
                  {{rowData[col.field]}}
                </div>
                  <div *ngIf="col['field'] === 'senderName' && carrgoTypes === 'sender'" [ngStyle]="{'color': checkedcarrgoTypes(rowData[col.field])  === false ? '#c54747' : '#4d7d4d' }">
                    {{rowData[col.field]}}
                  </div>
                <div *ngIf="col['field'] === 'toRoad'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toStation'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toStationCode'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toSubject'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'receiverName' && carrgoTypes !== 'receiver'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'receiverName' && carrgoTypes === 'receiver'" [ngStyle]="{'color': checkedcarrgoTypes(rowData[col.field])  === false ? '#c54747' : '#4d7d4d' }">
                  {{rowData[col.field]}}
                </div>

                <div *ngIf="idx > 12" [ngStyle]="{'color': colorYears(rowData, col) == true ? '#c54747' : '#4d7d4d' }">
                  {{rowData | field:col}}
                </div>
              </ng-template>
            </p-cellEditor>
          </td>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(rowData)" class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="14" class="p-text-right">Итого: </td>
          <td *ngFor="let items of this.massSummYear">{{items | number}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <p-button (click)="showModalDialog()" icon="pi pi-external-link" label="Добавить строку"></p-button>
      <button type="button" pButton pRipple icon="pi pi-times" (click)="closeModalTable()" label="Закрыть" class="p-button-text"></button>
    </ng-template>
  </p-dialog>
  </ng-container>
</div>
<p-dialog header="Добавление строки" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="dynamicForm" (ngSubmit)="createNew();">
    <div class="p-grid p-fluid">
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
          <input id="cargoGroup" formControlName="cargoGroup" type="text" pInputText  >
          <label for="cargoGroup">Группа груза</label>
        </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
            <input id="shipmentType" formControlName="shipmentType" type="text" pInputText >
            <label for="shipmentType">Вид перевозки</label>
        </span>
      </div>
      <div class="p-col-12 p-md-4">
        <p-dropdown [options]="primary" placeholder="Выберете вариант" formControlName="primary" [(ngModel)]="primaryRes" optionLabel="label"></p-dropdown>
<!--        <span class="p-float-label" style="padding-right: 10px;">-->
<!--            <input id="primary" formControlName="primary" type="text" pInputText >-->
<!--            <label for="primary">Корреспонденции</label>-->
<!--        </span>-->
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="fromRoad" formControlName="fromRoad" type="text" pInputText >
              <label for="fromRoad">Дорога отправления</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="fromStation" formControlName="fromStation" type="text" pInputText >
              <label for="fromStation">Станция отправления РФ</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="fromStationCode" formControlName="fromStationCode" type="text" pInputText >
              <label for="fromStationCode">Код станции отправления РФ</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="fromSubject" formControlName="fromSubject" type="text" pInputText >
              <label for="fromSubject">Субъект отправления</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="senderName" formControlName="senderName" type="text" pInputText >
              <label for="senderName">Грузоотправитель</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="toRoad" formControlName="toRoad" type="text" pInputText >
              <label for="toRoad">Дорога назначения</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="toStation" formControlName="toStation" type="text" pInputText >
              <label for="toStation">Станция назначения РФ</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="toStationCode" formControlName="toStationCode" type="text" pInputText >
              <label for="toStationCode">Код станции назначения РФ</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="toSubject" formControlName="toSubject" type="text" pInputText >
              <label for="toSubject">Субъект назначения</label>
          </span>
      </div>
      <div class="p-col-12 p-md-4">
        <span class="p-float-label" style="padding-right: 10px;">
              <input id="receiverName" formControlName="receiverName" type="text" pInputText >
              <label for="receiverName">Грузополучатель</label>
          </span>
      </div>
      <ng-container *ngFor="let shipmentYearValuePair of t.controls; let i = index" class="list-group list-group-flush">
        <div class="p-col-12 p-md-4">
          <form [formGroup]="shipmentYearValuePair" >
              <span class="p-float-label" style="padding-right: 10px;">
                <input id="value" formControlName="value" type="text" pInputText >
                <label for="value">{{this.mathematicalForecastTable[0].shipmentYearValuePairs[i].year}}</label>
              </span>
          </form>
        </div>
        </ng-container>
      <button pButton pRipple type="submit" label="Сохранить" class="p-button-raised p-button-secondary " [disabled]="this.dynamicForm.invalid"></button>
    </div>
  </form>
</p-dialog>
