<div class="card" *ngIf="mathematicalForecastTable;">
  <ng-container *ngIf="iCargoNci;">
  <p-dialog header="Загруженные данные"
            [(visible)]="dialogVisible"
            [style]="{width: '50vw'}"
            [baseZIndex]="1"
            [maximizable]="true"
            [modal]="false"
            [resizable]="true"
            [contentStyle]="{height: '50vh'}"
            [closeOnEscape]="false"
            [closable]="false" >
    <p-table #dt
             [style]="{width:'94.7vw'}"
             [columns]="cols"
             [value]="mathematicalForecastTable"
             [scrollable]="true" scrollHeight="70vh"
             styleClass="p-datatable-sm p-datatable-gridlines"  dataKey="id"
             [resizableColumns]="true"  editMode="row" columnResizeMode="expand"
             [paginator]="true"
             [rows]="500"
             [totalRecords]="totalRecords"
             [filterDelay]="0"
             (onFilter)="massSummYears($event)"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width:80px" >
          <col *ngFor="let col of columns" [style.width]="col.width" >
          <col style="width:80px" >
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn >№</th>
          <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field"> <p-sortIcon [field]="col.field"></p-sortIcon>
            {{col.header}}
          </th>
          <th pResizableColumn>Действия</th>
        </tr>
        <tr>
          <th></th>
          <th *ngFor="let col of columns;" >
            <ng-container *ngIf="col['field'] !== 'primary'; else prime">
              <input pInputText type="text" (click)="$event.stopPropagation()"  (input)="columnFilter($event, col.field)" class="p-column-filter">
            </ng-container>
            <ng-template #prime>
              <p-dropdown appendTo="body" [options]="primeryBol" [(ngModel)]="selectedPrimery" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
            </ng-template>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
        <tr [pEditableRow]="rowData">
          <td>{{ri}}</td>
          <td pEditableColumn *ngFor="let col of this.cols; let idx = index">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [ngModel]="rowData | field:col" (ngModelChange)="editColumn(rowData, col, $event)">
              </ng-template>
              <ng-template pTemplate="output" >

                <div *ngIf="col['field'] === 'cargoGroup'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'shipmentType'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'primary'">
                  <ng-container *ngIf="rowData[col.field] === true; else primaryFalse">
                    да
                  </ng-container>
                  <ng-template #primaryFalse>
                    нет
                  </ng-template>
                </div>
                <div *ngIf="col['field'] === 'fromRoad'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromStation'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromStationCode'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'fromSubject'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'senderName' && carrgoTypes !== 'sender'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'senderName' && carrgoTypes === 'sender'" [ngStyle]="{'color': checkedcarrgoTypes(rowData[col.field])  == false ? '#c54747' : '#4d7d4d' }">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toRoad'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toStation'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toStationCode'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'toSubject'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'receiverName' && carrgoTypes !== 'receiver'">
                  {{rowData[col.field]}}
                </div>
                <div *ngIf="col['field'] === 'receiverName' && carrgoTypes === 'receiver'" [ngStyle]="{'color': checkedcarrgoTypes(rowData[col.field])  == false ? '#c54747' : '#4d7d4d' }">
                  {{rowData[col.field]}}
                </div>


                <div *ngIf="idx > 12" [ngStyle]="{'color': colorYears(rowData, col) == true ? '#c54747' : '#4d7d4d' }">
                  {{rowData | field:col}}
                </div>
              </ng-template>
            </p-cellEditor>
          </td>

          <td style="text-align:center">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit()" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel()" class="p-button-rounded p-button-text p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="14" class="p-text-right">Итого: </td>
          <td *ngFor="let items of this.massSummYear">{{items | number}}</td>
        </tr>
      </ng-template>
    </p-table>
    <ng-template pTemplate="footer">
      <button type="button" pButton pRipple icon="pi pi-times" (click)="closeModalTable()" label="Закрыть" class="p-button-text"></button>
    </ng-template>
  </p-dialog>
  </ng-container>
</div>
