<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Прогноз корреспонденций
    </ng-template>
    <ng-template pTemplate="body">
      <div class="p-d-flex  p-jc-center">
       <div class="p-field p-col-2">
         <div class="p-field-radiobutton">
           <p-radioButton name="all" value="all" [(ngModel)]="correspondence" inputId="all"></p-radioButton>
           <label for="all">Все кореспонденции</label>
         </div>
         <div class="p-field-radiobutton">
           <p-radioButton name="sustainable" value="sustainable" [(ngModel)]="correspondence" inputId="sustainable"></p-radioButton>
           <label for="sustainable">Устойчивые кореспонденции</label>
         </div>
       </div>
       <div class="p-field p-col-8">
         <div class="p-fluid p-formgrid p-grid">
           <div class="p-field p-col-12">
             <label>Стратегия прогнозирования:</label>
             <p-dropdown [options]="methodUsers" optionLabel="name" [(ngModel)]="stepThree.forecastingStrategy" (onChange)="spying($event)" placeholder="Выберите один из вариантов:"></p-dropdown>
           </div>
         </div>
         <ng-container  *ngIf="this.additionalInformation">
           <div class="p-fluid p-formgrid p-grid" >
             <div class="p-field p-col-12">
               <label>Укажите год:</label>
               <p-dropdown [options]="this.reportingYears" optionLabel="name" [(ngModel)]="stepThree.yearsSession" placeholder="Укажите год:"></p-dropdown>
             </div>
           </div>
         </ng-container>
       </div>
       <div class="p-field p-col-2">

       </div>
      </div>

      <button pButton pRipple type="button" label="Расчитать" class="p-button-success" (click)="calculateForecastingStrategy()" [disabled]="!stepThree.forecastingStrategy"></button>
      <button pButton pRipple type="button" label="Увязать " class="p-button-success" (click)="test()"></button>
      <button pButton pRipple type="button" label="Учесть заявки грузоотправителей" class="p-button-success" disabled></button>
      <button pButton pRipple type="button" label="Учесть перспективные корреспонденции" class="p-button-success" disabled></button>
      <ng-container *ngIf="mathematicalForecastTable">
        <app-mathematical-forecast-table
          [mathematicalForecastTable]="this.mathematicalForecastTable">
        </app-mathematical-forecast-table>
      </ng-container>

    </ng-template>


    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Назад" (onClick)="prevPage()" icon="pi pi-angle-left" class="p-button-sm"></p-button>
        <p-button label="Вперед"  (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" class="p-button-sm"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
