<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Прогноз корреспонденций
    </ng-template>
    <ng-template pTemplate="body">
      <div class="p-d-flex">
       <div class="p-field p-col-6">
         <div class="p-fluid p-formgrid p-grid">
           <div class="p-field p-col-12">
             <label>Стратегия прогнозирования:</label>
             <p-dropdown [options]="methodUsers" optionLabel="name" [(ngModel)]="stepThree.forecastingStrategy" (onChange)="spying($event)" placeholder="Выберите один из вариантов:"></p-dropdown>
           </div>
         </div>
         <ng-container  *ngIf="this.additionalInformation">
           <div class="p-fluid p-formgrid p-grid" >
             <div class="p-field p-col-12">
               <label>Укажите год:</label>
               <p-dropdown [options]="this.reportingYears" optionLabel="name" [(ngModel)]="stepThree.yearsSession" placeholder="Укажите год:"></p-dropdown>
             </div>
           </div>
         </ng-container>
       </div>
      </div>
      <div class="p-d-flex p-jc-between">
        <div>
          <button pButton pRipple type="button" label="Расчитать" class="p-button-success p-button-lg" (click)="calculateForecastingStrategy()" [disabled]="!stepThree.forecastingStrategy"></button>
        </div>
        <div>
          <button pButton pRipple type="button" label="Увязать " class="p-button-success" (click)="correlation()" [disabled]="disableCorrelation" style="margin-right: 10px"></button>
          <button pButton pRipple type="button" label="Учесть заявки грузоотправителей" class="p-button-success" (click)="cargoSessionSenders()" [disabled]="disableCorrelation" style="margin-right: 10px"></button>
          <button pButton pRipple type="button" label="Учесть заявки грузополучателей" class="p-button-success" [disabled]="disableCorrelation" (click)="cargoSessionReceivers()" style="margin-right: 10px"></button>
          <button pButton pRipple type="button" label="Учесть перспективные корреспонденции" class="p-button-success" (click)="corresponTie(); " [disabled]="disableCorrelation"></button>
        </div>
      </div>
      <ng-container *ngIf="this.loading; else loader">
        <app-mathematical-forecast-table *ngIf="this.mathematicalForecastTable"
                                         [mathematicalForecastTable]="this.mathematicalForecastTable"
        >
        </app-mathematical-forecast-table>
      </ng-container>
    </ng-template>
    <ng-template #loader>
      <ng-container *ngIf="this.payment === false; else Payment">
      </ng-container>
      <ng-template #Payment>
        <div class="p-d-flex p-jc-center" style="height: 40vh">
          <div class="p-grid p-ai-center vertical-container ">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
          </div>
        </div>
      </ng-template>

    </ng-template>

    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Назад" (onClick)="prevPage()" icon="pi pi-angle-left" class="p-button-sm"></p-button>
        <ng-container *ngIf="this.user.authorities.includes('P_P_p9') !== true">
          <p-button label="Вперед"  (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" class="p-button-sm"></p-button>
        </ng-container>
      </div>
    </ng-template>
  </p-card>
</div>
