<div class="p-d-flex p-p-3 card">
  <button pButton pRipple type="button" icon="pi pi-check" class="p-mr-2" label="Отобразить все"  pTooltip="Выгрузка займет достаточно много времени" (click)="downAll()"></button>
  <div class="p-ml-auto">
    <ng-container *ngIf="this.user.authorities.includes('P_P_p7') === true">
      <form [formGroup]="form" (ngSubmit)="createcargoOwnerInfluenceFactor(); form.reset()">
        <div class="p-d-flex p-jc-end">
          <div style="padding-right: 10px;">
            <p-dropdown  [options]="cargoNci" optionLabel="name"  [showClear]="true" formControlName="cargoOwnerId"  placeholder="Грузовладелец:"></p-dropdown>
          </div>
          <div style="padding-right: 10px;">
            <p-dropdown  [options]="influenceNci" optionLabel="name"  [showClear]="true" formControlName="influenceFactorId"  placeholder="Фактор:"></p-dropdown>
          </div>
          <span class="p-float-label" style="padding-right: 10px;">
          <input id="koef" formControlName="koef" type="text" pInputText >
          <label for="koef">Коэффициент</label>
        </span>
          <button  pButton pRipple type="submit" label="Сохранить" class="p-button-raised p-button-secondary " [disabled]="this.form.invalid"></button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
  <div class="card" *ngIf="this.loading !== true; else Loader">
    <p-table *ngIf="cargoOwnerInfluenceFactor" #dt
             [style]="{width:'auto'}"
             [columns]="cols"
             [value]="cargoOwnerInfluenceFactor"
             [scrollable]="true" scrollHeight="25vh"
             styleClass="p-datatable-sm p-datatable-gridlines"  dataKey="id"
             [resizableColumns]="true"  editMode="row" columnResizeMode="expand"
             [paginator]="true"
             [rows]="500"
             [filterDelay]="0"
    >
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [style.width]="col.width" >
          <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
            <col style="width: 120px" >
          </ng-container>
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pResizableColumn *ngFor="let col of columns" [pSortableColumn]="col.field"> <p-sortIcon [field]="col.field"></p-sortIcon>
            {{col.header}}
          </th>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
            <th pResizableColumn>Действия</th>
          </ng-container>
        </tr>
        <tr>
          <th *ngFor="let col of columns;" >
            <input pInputText type="text"  (input)="dt.filter($event.target.value, col['field'], 'contains')" class="p-column-filter">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-ri="rowIndex" let-editing="editing">
        <tr [pEditableRow]="rowData">
          <td  *ngFor="let col of this.cols;">
            <p-cellEditor *ngIf="!col.isStatic;else staticTemplate">
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="rowData[col.field]">
              </ng-template>
              <ng-template pTemplate="output" >
                {{rowData[col.field]}}
              </ng-template>
            </p-cellEditor>
            <ng-template #staticTemplate>
              {{ rowData[col.field] }}
            </ng-template>
          </td>
          <ng-container *ngIf="this.user.authorities.includes('P_P_p6') === true">
            <td style="text-align:center">
              <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"  class="p-button-rounded p-button-text"></button>
              <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(rowData)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
              <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"  class="p-button-rounded p-button-text p-button-danger"></button>
              <button  pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" (click)="deleteCargoOwnerInfluenceFactor(rowData.id, rowData.name)" class="p-button-rounded p-button-text p-button-danger"></button>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
<ng-template #Loader>
  <div class="p-d-flex p-jc-center" style="height: 30vh">
    <div class="p-grid p-ai-center vertical-container ">
      <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration="1s"></p-progressSpinner>
    </div>
  </div>
</ng-template>
