<div class="stepsdemo-content">
  <p-card>
    <ng-template pTemplate="title">
      Импорт данных
    </ng-template>
    <ng-template pTemplate="subtitle">
      Все поля обязательны для заполнения!
    </ng-template>
    <ng-template pTemplate="content">

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <label>Исходные данные:</label>
            <p-dropdown optionLabel="name" [options]="initialDate" [(ngModel)]="stepOne.Session" placeholder="Выберите один из вариантов:"></p-dropdown>
          </div>
        </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Сценарий развития экономики:</label>
          <p-dropdown optionLabel="name" [options]="scenarioMacro" [(ngModel)]="stepOne.scenarioMacro" placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Горизонт прогноза (лет):</label>
          <p-dropdown optionLabel="name" [options]="horizonforecast" [(ngModel)]="stepOne.calcYearsNumber"   placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <label>Файл с заявками грузоотправителей:</label>
            <p-dropdown optionLabel="name" [options]="cargoSessionSender" [(ngModel)]="stepOne.cargoSessionSender" placeholder="Выберите один из вариантов:"></p-dropdown>
          </div>
        </div>
        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12">
            <label>Файл с заявками грузополучателей:</label>
            <p-dropdown optionLabel="name" [options]="cargoSessionReceiver" [(ngModel)]="stepOne.cargoSessionReceiver"  placeholder="Выберите один из вариантов:"></p-dropdown>
          </div>
        </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Файл с перспективными корреспонденциями:</label>
          <p-dropdown optionLabel="name" [options]="correspondenceSession" [(ngModel)]="stepOne.correspondenceSession"   placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Перспективгые корреспонденции система "Нефтегрузы":</label>
          <p-dropdown optionLabel="title" [options]="oilCargo" [(ngModel)]="stepOne.oilCargo"   placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Перспективгые корреспонденции система "Руда":</label>
          <p-dropdown optionLabel="title" [options]="ore" [(ngModel)]="stepOne.ore"   placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label>Перспективгые корреспонденции система "Металургия":</label>
          <p-dropdown optionLabel="title" [options]="metallurgy" [(ngModel)]="stepOne.metallurgy"   placeholder="Выберите один из вариантов:"></p-dropdown>
        </div>
      </div>

    </ng-template>
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <p-button label="Вперед" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
